.white {
    color: white;
    margin-right: 10px;
}

.imgbulat {
    border-radius: 100%;
    width: 250px;
    margin-bottom: 25px;
}

.gl {
    border-color: #ffffff;
}

.cardd {
    border: 0px;
    margin-bottom: 50px;
    border-radius: 0%;
}

.textleft {
    text-align: left;
}

.kontentleft {
    float: left;
}

.kontentright {
    float: right;
}

.sosmed {
    width: 15px;
    border-radius: 100%;
}

.fs12 {
    font-size: 12px;
}

.header {
    background: radial-gradient(circle at top left, #080808, #020016); 
}

.experience {
    background: radial-gradient(circle at top left, #0004fd, #4b80e9); 

}

.footer {
    background: radial-gradient(circle at top left, #f0f699, #ffffff); 

}

.yellow {
    background-color: #f0f699;
}

.mt50 {
    margin-top: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.mt10 {
    margin-top: 10px;
}

.pt12 {
    padding-top: 12px;
}

.pt50{
    padding-top: 50px;
}

.pb50{
    padding-bottom: 50px;
}

.mb{
    margin-bottom: 0px;
}

.pb {
    padding-bottom: 0px;
}

.fc {
    display: block;
    width: 50%;
}

.tools {
    display: block;
    float: left;
    width: 100%;
}

.mr50 {
    margin-right: 150px;
}

.pr100 {
    padding-right: 100px;
}